argparse==1.4.0
volare==0.15.2
sky130 @ git+https://github.com/pmicgen/skywater130
gdsfactory @ git+https://github.com/pmicgen/gdsfactory
cca @ git+https://github.com/pmicgen/Common_Centroid_Algorithm
numpy
astar==0.99
timy==0.4.2
align
sympy
mosplot @ git+https://github.com/pmicgen/gmid
matplotlib==3.7.1
ipython==7.34
pyzmq==23.2.1
paretoset
