argparse==1.4.0
volare==0.15.2
sky130 @ git+https://github.com/Mario1159/skywater130
gdsfactory
cca @ git+https://github.com/Mario1159/Common_Centroid_Algorithm
matplotlib==3.8.2
numpy==1.26.3
astar==0.99
timy==0.4.2
align
sympy
gmid @ https://github.com/pmicgen/gmid